@media only screen and (max-width: 1300px) {
  .search.active form {
    width: calc(100vw - 550px);
  }
  .container-box,
  .productin,
  .blogin,
  .contact,
  .photo,
  .about,
  .index-block3,
  .index-slider,
  .footer,
  .product-box,
  .profile,
  .header {
    width: 95%;
  }
  .product-list,
  .photo-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .last-blog-item {
    width: calc(100% - 50% - 13px);
  }
  .photo-block > img {
    width: calc((100% - 78px)/ 4);
  }
  .video-block > div {
    width: calc((100% - 78px)/ 4);
  }
  .video-block > div .no-play {
    width: 100%;
  }
  .profil-ul {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1210px) {
  .convert img {
    width: 500px;
  }
  .header-category {
    margin-left: 50px;
  }
  .search.active form {
    width: calc(100vw - 555px);
  }
  .profile-order {
    padding: 60px 30px 70px 30px;
    width: calc(100% - 280px);
  }
  .profile-info .input-div:nth-child(even) {
    margin-left: 80px;
  }
  .profile-info .input-div .editt {
    opacity: 0.5;
  }
  .profile-recovery, .profile-info {
    width: calc(100% - 280px);
    padding: 60px 30px 70px 30px;
  }
}

@media only screen and (max-width: 1150px) {
  .header-category {
    margin-left: 50px;
  }
  .header-category .cat-down:not(:last-child) {
    margin-right: 20px;
  }
  .footer-menu a {
    font-size: 10px;
  }
  .footer-menu li {
    margin-right: 18px;
  }
}

@media only screen and (max-width: 1100px) {
  .profile {
    padding: 40px 20px;
  }
  .pro-n, .pro-p {
    display: none;
  }
  .pop-slide-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: calc(100vh - 250px);
  }
  .xxxx {
    top: 40px;
    right: 52px;
  }
  .swiper-container.g-topp {
    margin-left: 0;
    height: calc(100% - 116px);
  }
  .pop-slide-box {
    width: calc(100% - 100px);
  }
  .swiper-container.g-thumb {
    margin-top: 15px;
    width: 100%;
  }
  .swiper-container.g-thumb .swiper-slide {
    height: 101px;
    width: 101px;
  }
  .product-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index-block2 div {
    width: calc((100% - 100px)/ 3);
  }
  .index-slider .swiper-slide {
    padding: 0 50px;
  }
  .is-h2-text h2 {
    font-size: 16px;
  }
  .is-line {
    height: 40px;
  }
  .is-line div {
    height: 20px;
    margin-top: 20px;
  }
  .is-price p {
    font-size: 16px;
    margin-top: 0;
    line-height: 21px;
  }
  .is-price p span {
    font-size: 9px;
  }
  .is-price span {
    font-size: 12px;
    margin-top: 4px;
  }
  .is-text p {
    font-size: 11px;
    margin-left: 40px;
    width: auto;
    padding-right: 20px;
  }
  .header {
    width: calc(100% - 64px);
  }
  .logo {
    margin-left: 60px;
  }
  .burger {
    display: block;
    height: 14px;
    position: absolute;
  }
  .burger.active span:nth-child(2) {
    width: 0;
  }
  .burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
  }
  .burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 6px;
  }
  .burger span {
    width: 20px;
    height: 2px;
    background-color: #F1DDBE;
    display: block;
    position: absolute;
    border-radius: 15px;
  }
  .burger span:nth-child(2) {
    top: 6px;
  }
  .burger span:nth-child(3) {
    top: 12px;
  }
  .header {
    height: 110px;
  }
  .header-down {
    height: 100%;
  }
  .header-up {
    min-height: initial;
    border-bottom: initial;
    position: absolute;
    background-color: #646161;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -120%;
    height: calc(100vh - 110px);
    padding-bottom: 50px;
    top: 110px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-up.active {
    width: calc(100% + 64px);
    left: -32px;
  }
  .men-cat {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .menu-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .addres-lang {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 33px;
  }
  .lang li.active a {
    color: #111111;
  }
  .lang li a {
    color: white;
  }
  .lang i {
    color: #111111;
  }
  .header-addres a {
    color: #111111;
  }
  .header-addres a svg path {
    fill: #111111;
  }
  .header-category {
    display: none;
  }
  .header-up .men-cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: initial;
    margin-top: 30px;
  }
  .header-up .men-cat li:last-of-type {
    margin-bottom: initial;
  }
  .header-category .cat-down {
    color: #111111;
  }
  .inner-cat {
    top: 30px;
    padding-left: initial;
    margin-left: -70px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .menu-ul a {
    color: #111111;
    opacity: 1;
  }
  .menu-ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-ul li {
    margin-top: 13px;
  }
  .menu-nav {
    margin-top: 25px;
  }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-cat ul {
    -webkit-column-count: 2;
            column-count: 2;
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .goToPrevPage {
    display: none;
  }
  .blogin {
    padding: 40px 0;
  }
  .productin,
  .product-box,
  .contact,
  .photo {
    padding: 40px 20px;
  }
  .profile h1 {
    font-size: 18px;
  }
  .profile-recovery, .profile-info {
    margin-top: 90px;
  }
  .profil-ul {
    top: 94px;
    padding-top: 90px;
  }
  .cart-item-list {
    width: calc(100% - 40px);
  }
  .reg-img {
    width: 100%;
    top: 50px;
    max-height: 420px;
    height: calc(100% - 100px);
    min-height: initial;
  }
  .form-shablon {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pro-info-header {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .swiper-container.product-in-slider {
    width: 200px;
    min-width: 200px;
  }
  .swiper-container.product-in-slider .swiper-slide {
    height: 200px;
  }
  .sulmodzebnili {
    display: none;
  }
  .filter-btn {
    position: relative;
    left: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin-bottom: 37px;
    z-index: 9;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .product-filter {
    padding-top: 94px;
    top: 0;
    left: -500px;
    position: absolute;
    background-color: white;
    padding-left: 46px;
    padding-right: 29px;
    z-index: 3;
    min-width: 257px;
    height: 100%;
  }
  .product-filter.active {
    left: 0;
  }
  .contact-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-info li {
    width: 45%;
    margin-bottom: 18px;
  }
  .about {
    padding: 40px 0;
  }
  .about img {
    width: 100%;
    height: 250px;
    top: 100px;
  }
  .about h1 {
    margin-left: 100px;
  }
  .about-text {
    width: calc(100% - 200px);
    float: initial;
    margin: 0 auto;
    margin-top: 150px;
  }
  .convert {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .convert img {
    width: 400px;
    height: 400px;
  }
  .convert-text h2 {
    font-size: 19px;
  }
  .convert-text span {
    font-size: 16px;
  }
  .index-block3 {
    padding: 28px 20px 40px 20px;
  }
  .product-slide-box .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 69px;
  }
  .team-n,
  .team-p {
    display: none !important;
  }
  .product-slider h2 {
    font-size: 18px;
    width: 140px;
  }
  .index-block2 p {
    font-size: 13px;
    width: auto;
    padding-right: 20px;
  }
  .index-block2 figure {
    width: 34px;
    height: 34px;
    min-width: 34px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .index-block2 figure > svg {
    width: 16px;
  }
  .footer-cat,
  .footer-menu {
    display: none;
  }
  .scroll-order {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-scroll {
    margin-left: initial;
  }
  .footer-address {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .foo-soc {
    margin-top: 50px;
  }
  .nom-email {
    margin-top: 48px;
  }
  .foo-soc a:last-of-type {
    margin-right: 0;
  }
  #gmap_canvas {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .profile-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .profile-info .input-div {
    min-width: 217px;
  }
  .profile-info .input-div:nth-child(even) {
    margin-left: 0;
  }
  .profile {
    padding: 40px 0;
  }
  .profile h1 {
    margin-left: 20px;
  }
  .profil-ul {
    width: 100%;
    background-color: #AD8450;
    height: 94px;
    padding: initial;
    position: relative;
    top: initial;
    margin-top: 30px;
  }
  .profil-ul li {
    display: none;
  }
  .profile-recovery, .profile-info,
  .profile-order {
    width: 100%;
    padding: 40px 20px;
    margin-top: 0;
  }
  .profile-sellect {
    display: block;
    position: absolute;
    z-index: 5;
    width: 190px;
    top: 142px;
    right: 0;
  }
  .profile-sellect .nice-select {
    height: 48px !important;
    padding: 5px 20px 0px 20px !important;
    border: initial !important;
  }
  .profile-sellect .nice-select span {
    font-size: 9px !important;
  }
  .profile-sellect .nice-select .option {
    font-size: 11px !important;
  }
  .profile-sellect .nice-select.open .list {
    border: initial !important;
    -webkit-box-shadow: initial !important;
            box-shadow: initial !important;
  }
}

@media only screen and (max-width: 800px) {
  .blogin > p,
  .blogin > span,
  .shear-date,
  .blogin h1 {
    width: 100%;
    padding: 0 20px;
    max-width: 100%;
  }
  .shear-date {
    margin-bottom: 30px;
  }
  .cart-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 10px;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart-item > p {
    width: calc(100% - 170px);
  }
  .cart-item > img {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .cart-item i {
    margin-right: 20px;
  }
  .productin > h1 {
    display: block;
  }
  .productin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .swiper-container.product-in-slider {
    height: 130px;
    overflow: hidden;
    margin-top: initial !important;
    width: calc(100% + 20px);
    margin-bottom: 14px;
  }
  .swiper-container.product-in-slider .swiper-slide {
    height: 100%;
    width: calc(100% - 20px);
  }
  .pro-info-header h1 {
    display: none;
    margin-bottom: 0;
  }
  .pro-info-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-info {
    margin-left: 0;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .pricc {
    margin-top: -55px;
    position: absolute;
  }
  .pricc p {
    font-size: 16px;
  }
  .pricc span {
    font-size: 9px;
    margin-top: 4px;
  }
  .price-spiner-cart {
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carttt {
    width: 35px;
    min-width: 35px;
    height: 35px;
    font-size: 0;
    background-color: #AD8450;
    margin-left: 69px;
  }
  .carttt svg {
    margin-right: 0;
  }
  .carttt svg path, .carttt svg circle {
    fill: #111111;
  }
  .spiner-xel {
    margin-left: 0;
  }
  .drop-video.rop-resp,
  .drop-img.rop-resp {
    display: block;
  }
  .video-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .video-block > div {
    width: calc((100% - 15px)/ 2);
    margin-left: initial;
    margin-bottom: 15px;
  }
  .video-block > div h2 {
    width: 100%;
    max-width: 100%;
  }
  .video-block .drop-video {
    margin-top: 0;
  }
  .video-block .drop-video.active {
    margin-bottom: 15px;
    margin-top: 0;
  }
  .photo-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .photo-block > img {
    width: calc((100% - 15px)/ 2);
    margin-left: initial;
    margin-bottom: 15px;
  }
  .photo-block .drop-img {
    margin-top: 0;
  }
  .photo-block .drop-img.active {
    margin-bottom: 15px;
    margin-top: 0;
  }
  .blogin h1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .about img {
    height: 250px;
    top: 100px;
  }
  .about h1 {
    margin-left: 100px;
  }
  .about-text {
    width: calc(100% - 200px);
    float: initial;
    margin: 0 auto;
    margin-top: 150px;
    padding: 28px 20px 0px 20px;
  }
  .last-blog-box .last-add-header a {
    display: block;
  }
  .last-add-box {
    max-height: 350px;
    margin-bottom: 50px;
  }
  .last-add {
    display: none;
  }
  .product-slide-box.last-pro-box {
    display: block;
  }
  .product-slide-box.last-pro-box .swiper-pagination {
    top: -18px;
  }
  .last-add-header h2 {
    font-size: 18px;
  }
  .last-add-header a {
    display: none;
  }
  .product-slide-box {
    margin-bottom: 90px;
  }
  .convert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 130px;
    margin-bottom: 200px;
  }
  .convert img {
    height: 194px;
    width: auto;
    position: absolute;
    bottom: -41px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .convert-text h2 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .convert-text span {
    font-size: 12px;
    line-height: 20px;
    height: 34px;
    margin-bottom: 14px;
  }
  .convert-text a {
    background-color: #AD8450;
    color: #111111;
  }
  .convert-text {
    position: absolute;
    bottom: -164px;
  }
  .index-block2 {
    height: 420px;
    margin-top: -60px;
    margin-bottom: -60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-block2 div {
    margin: 0;
    margin-top: 15px;
    width: 257px;
    width: calc(100% - 5%);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .index-block2 div:first-of-type {
    margin-top: 75px;
  }
  .index-block2 div:last-of-type {
    margin-bottom: 75px;
  }
  .index-slider {
    height: 254px;
  }
  .is-info-img img {
    max-width: 200px;
  }
  .see-product {
    font-size: 9px;
    width: 135px;
    height: 34px;
  }
  .is-h2-text h2 {
    margin-top: 30px;
  }
  .profile-link {
    width: 47px;
    font-size: 0;
    padding: initial;
  }
  .profile-link img {
    margin-right: 0;
  }
  .search.active form {
    width: calc(100vw - 380px);
  }
}

@media only screen and (max-width: 700px) {
  .cart-header {
    margin-top: 40px;
  }
  .cart-item-list {
    margin-top: 50px;
  }
  .icon-div {
    position: relative;
  }
  .icon-div figure {
    width: 34px;
    height: 34px;
  }
  .icon-div p {
    font-size: 11px;
    margin-top: 6px;
    position: absolute;
    bottom: -23px;
  }
  .line-div {
    margin-top: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .photo,
  .product-box,
  .index-block3,
  .index-block2 div,
  .index-slider,
  .container-box,
  .contact,
  .profile,
  .productin,
  .footer {
    width: calc(100vw - 64px);
  }
  .index-block2 div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10%;
  }
  .color-change-box {
    margin-bottom: 10px;
  }
  .order-down-item {
    padding: 10px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-down-item:first-of-type {
    padding-top: 2px;
  }
  .order-down-item img {
    margin-right: 20px;
    width: 44px;
    height: 44px;
  }
  .order-down-item .sax {
    width: 100%;
    display: block;
    padding: initial;
    min-width: calc(100% - 135px);
    font-size: 11px;
    line-height: 17px;
  }
  .order-down-item .price {
    margin-top: 16px;
    font-size: 14px;
    color: #AD8450;
  }
  .order-down-item .raodenoba {
    margin-top: 16px;
    border: initial;
    color: #AD8450;
    width: auto;
  }
  .order-down-item .raodenoba span {
    display: block;
    font-size: 11px;
    font-family: reg;
    font-weight: bold;
    color: #111111;
    margin-right: 5px;
  }
  .order-up {
    padding-left: 10px;
  }
  .order-up img {
    right: 10px;
  }
  .num {
    font-size: 11px;
  }
  .dat {
    margin-left: 15px;
    font-size: 9px;
  }
  .reshotka {
    font-size: 9px;
    margin-left: 19px;
  }
  .line-div {
    width: 37px;
    margin: 0 10px;
    margin-top: 17px;
  }
  .pay-done img, .empty img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }
  .pay-done p, .empty p {
    font-size: 13px;
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 21px;
  }
  .pay-done a, .empty a {
    margin-bottom: 40px;
    font-size: 11px;
  }
  .empty {
    margin-top: 40px;
  }
  .empty img {
    margin-bottom: 22px;
  }
  .pay-done {
    margin-top: 40px;
  }
  .cart-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: initial;
    border-top: solid 1px #F8EEDF;
    padding-top: 20px;
  }
  .cart-item:first-of-type {
    border: initial;
    padding-top: initial;
  }
  .cart-item > p {
    width: calc(100% - 134px);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: -3px;
    font-size: 11px;
    line-height: 17px;
  }
  .cart-item > img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 15px;
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
  }
  .cart-item i {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .cart-item .bin {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .cart-item .spinner {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .cart-item .price {
    width: 75px;
    margin-right: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 49px;
  }
  .cart-item .price p {
    font-size: 11px;
    text-align: end;
    color: #AD8450;
  }
  .cart-item .price span {
    font-size: 9px;
  }
  .cart-item .spinner {
    width: 67px;
    min-width: 67px;
  }
  .cart-item .spinner input {
    border: initial;
    width: 35px;
    font-size: 11px;
  }
  .error, .done {
    padding: 40px 0;
  }
  .error p a, .error p span, .done p a, .done p span {
    font-size: 11px;
  }
  .error img, .done img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }
  .error p, .done p {
    font-size: 11px;
    padding: initial;
    line-height: 16px;
  }
  .kab {
    margin-top: 38px;
    font-size: 11px;
  }
  .indd {
    font-size: 9px;
  }
  .container-box {
    min-height: initial;
  }
  .form-shablon.select- h1 {
    margin-bottom: 10px;
  }
  .form-shablon {
    width: calc(100% - 40px);
    padding: 18px 10px 40px 10px;
  }
  .form-shablon h1 {
    font-size: 18px;
    text-align: center;
  }
  .nice-select span {
    font-size: 11px !important;
  }
  .ukve,
  .ukve span,
  .input-shablon button,
  .input-shablon .input-div span,
  .input-shablon input {
    font-size: 11px;
  }
  .input-shablon input {
    padding: 0 10px;
  }
  .ukve {
    max-width: calc(100% - 10px);
  }
  .product-box > h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .form-shablon {
    min-height: initial;
  }
  .contact h1 {
    font-size: 18px;
    margin-bottom: 29px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 38px;
    margin-bottom: 0;
  }
  .contact iframe, .contact .iframe {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 130px;
  }
  .photo-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 35px 0;
  }
  .photo-item {
    width: 100%;
  }
  .photo-item .photo-big {
    height: 170px;
    width: 100%;
  }
  .photo-item div {
    top: 115px;
  }
  .swiper-container.b-top .swiper-slide {
    width: calc(100% - 20px);
  }
  .swiper-container.b-top {
    height: 130px;
  }
  .swiper-container.b-thumb {
    display: none;
  }
  .blog-list .last-blog-item:nth-last-child(3) {
    margin-bottom: 30px;
  }
  .pgn-list .pgn,
  .blog-list .pgn {
    margin-top: 30px;
  }
  .pgn-list .pgn li:nth-of-type(5),
  .blog-list .pgn li:nth-of-type(5) {
    display: none;
  }
  .photo h1 {
    font-size: 18px;
    margin-bottom: 29px;
  }
  .about img {
    height: 130px;
    top: 83px;
  }
  .about h1 {
    margin-left: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .about-text {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 86px;
    padding: 28px 20px 0px 20px;
  }
  .about-text h2 {
    margin-bottom: 20px;
  }
  .last-blog-box {
    padding-bottom: 62px;
    position: relative;
  }
  .last-blog-box .last-add-header a {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .last-blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .last-blog-item {
    margin-bottom: 30px;
    width: 100%;
  }
  .last-blog-item:last-child {
    margin-bottom: 0;
  }
  .last-blog-item img {
    height: 130px;
    margin-bottom: 8px;
  }
  .last-blog-item h2 {
    font-size: 13px;
    line-height: 22px;
  }
  .index-slider .swiper-slide {
    padding: 0 20px;
  }
  .is-h2-text h2 {
    margin-top: 107px;
    position: absolute;
    width: 195px;
    line-height: 22px;
  }
  .is-price-text {
    position: absolute;
    top: 38px;
  }
  .is-info-img img {
    margin-top: 23px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
  }
  .is3,
  .is1,
  .index-slider .swiper-pagination,
  .is-text p {
    display: none;
  }
  .is2 {
    left: initial;
    right: -120px;
    bottom: -120px;
  }
  .footer {
    margin-top: 50px;
  }
  .cart {
    width: 34px;
    height: 34px;
    margin-left: 0;
    margin-right: 10px;
  }
  .profile-link {
    width: 34px;
    height: 34px;
  }
  .search {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 31px;
    background-color: initial;
  }
  .search.active {
    left: 0px;
  }
  .search.active form {
    background-color: #AD8450;
    right: initial;
    left: 0;
    width: calc(100vw - 64px);
  }
  .search.active button {
    margin-left: initial;
    position: absolute;
    left: 10px;
  }
  .search.active button svg path {
    fill: #111111;
  }
  .search button {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 34px;
  }
  .search .srch-klik {
    position: absolute;
    z-index: 12;
    left: 0;
  }
  .search .xx path {
    fill: #111111;
  }
  .search form {
    background-color: initial;
    right: initial;
  }
  .search input {
    margin-left: 45px;
    color: #111111;
  }
  .search input::-webkit-input-placeholder {
    color: #111111;
  }
  .search input:-ms-input-placeholder {
    color: #111111;
  }
  .search input::-ms-input-placeholder {
    color: #111111;
  }
  .search input::placeholder {
    color: #111111;
  }
  .header-down {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-cat {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger {
    position: relative;
  }
  .logo {
    width: 80px;
    margin-left: initial;
  }
  .logo.srch {
    opacity: 0.2;
  }
  .logo img {
    width: 100%;
  }
  .header-addres {
    margin-right: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addres-lang {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
  .header-addres a:first-child {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .menu-ul {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    display: block;
    -webkit-column-count: 2;
            column-count: 2;
  }
  .menu-ul li {
    margin-top: 13px;
    min-width: 140px;
    margin-right: 0;
  }
  .menu-ul li:first-child {
    margin-top: initial;
  }
  .header-up {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 31px;
  }
  .header-up .men-cat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-up .men-cat .cat-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .header-up .men-cat .cat-down.downn i {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -3px;
  }
  .header-up .men-cat .cat-down i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: relative;
  }
  .inner-cat {
    position: relative;
    -webkit-column-count: 1;
            column-count: 1;
    margin-left: initial;
    top: 0;
    padding-top: 18px;
  }
  .inner-cat a {
    font-size: 11px;
    line-height: 15px;
  }
  .header-category .cat-down:not(:last-child) {
    margin-right: initial;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .profile-recovery button,
  .profile-recovery .input-div {
    width: 100%;
  }
  .profile-order {
    padding: 40px 10px;
  }
  .entry2 .entry-label {
    white-space: pre-wrap;
    line-height: 20px;
  }
  .entry2 .circle {
    margin-top: 6px;
  }
  .entry2 .entry-label {
    font-size: 11px;
  }
  .entry2 .entry-label span {
    font-size: 11px;
  }
  .cart-form {
    width: calc(100% - 40px);
  }
  .next-back {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .back {
    margin: 0;
    margin-top: 10px;
  }
  .icon-div.active figure {
    width: 34px;
    height: 34px;
    margin-top: 0px;
  }
  .icon-div.active figure svg {
    min-width: 23px;
    min-height: 18px;
  }
  .icon-div.active p {
    display: block;
  }
  .icon-div figure {
    width: 26px;
    height: 26px;
    margin-top: 3px;
  }
  .icon-div figure svg {
    width: 14px;
    min-width: 12px;
  }
  .icon-div p {
    display: none;
  }
  .clear-jami {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .clear-jami .clear {
    margin-bottom: 30px;
  }
  .product-filter {
    width: 100%;
  }
  .product-list-filter .pgn-list .product-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product-list-filter .pgn-list .product-list .product-item {
    width: 100% !important;
  }
  .video-block > div {
    width: calc((100% - 15px)/ 2);
    margin-left: initial;
    margin-bottom: 15px;
  }
  .video-block > div .no-play {
    height: 94px;
  }
  .video-block > div .play {
    top: 5px;
    left: 5px;
    width: 34px;
    height: 34px;
  }
  .video-block > div h2 {
    font-size: 12px;
    margin-top: 8px;
    height: 46px;
  }
  .video-block .drop-video {
    margin-top: 0;
  }
  .video-block .drop-video.active {
    margin-bottom: 15px;
    margin-top: 0;
  }
  .photo-block > img {
    height: 94px;
  }
  .photo-block .drop-img.active {
    height: 285px;
  }
  .product-item {
    width: 169px !important;
    height: 235px !important;
  }
  .spiner-img {
    height: 130px;
  }
  .product-item > a {
    margin-top: 16px;
  }
  .price-cart {
    margin-top: 12px;
  }
  .scroll-order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-down {
    height: 90px;
  }
  .footer-scroll {
    display: none;
  }
  #gmap_canvas {
    height: 130px;
    width: 217px;
  }
  .header-addres {
    margin-right: 50px;
  }
  .nom-email a:first-child {
    margin-bottom: 23px;
  }
  .foo-soc a {
    height: 34px;
    width: 34px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .index-block2 div {
    padding: 0;
  }
}
/*# sourceMappingURL=responsive.css.map */