extends layout.pug

block content

    .container-box

        .cart-box
        
            .cart-header
                .icon-div
                    figure
                        include img/cart.svg
                    p კალათა
                
                .line-div
                    span
                    span

                .icon-div
                    figure
                        include img/block2.svg
                    p მიწოდება

                .line-div
                    span
                    span.active

                .icon-div.active
                    figure
                        include img/block3.svg
                    p გადახდა

            .cart3
                form(action="").cart-form.input-shablon
                    input#input1.hidden(type='radio', name='inputs' checked)
                    label.entry(for='input1')
                        .entry-label ონლაინ გადახდა
                        .circle
                    input#input2.hidden(type='radio', name='inputs')
                    label.entry(for='input2')
                        .entry-label საბანკო გადარიცხვა
                        .circle

                    input#input3.hidden(type='checkbox', name='ss')
                    label.entry2(for='input3')
                        .circle
                        .entry-label გავეცანი და ვეთანხმები " 
                            span წესებს და პირობებს 
                            |"
                    


                
                .next-back
                    a(href="cart2.html").back უკან დაბრუნება
                    a(href="cart3.html").next 
                        p გაგრძელება




block reg
    script(src='js/jquery.nice-select.min.js')

    script.
        $(document).ready(function() {
            $('select').niceSelect();
        });

            
            