extends layout.pug

block content

    .contact
        h1 კონტაქტი

        ul.contact-info
            li
                h2 მისამართი
                p  თბილისი, ცოტნე დადიანის 13

            li
                h2 ელ-ფოსტა
                a(href="mailto:example@site.com") example@site.com
                            
            li  
                h2 მობ. ტელეფონი           
                a(href="tel:(+995) 555 444 222") (+995) 555 444 222
                a(href="tel:(+995) 555 444 222") (+995) 555 444 222
                            
            li
                h2 სამუშაო საათები
                p ორშაბათი - პარასკევი : 09:00 - 18:00 
                p შაბათი: 09:00 - 12:00

        iframe(src='https://maps.google.com/maps?q=tbilisi&t=&z=13&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
