extends layout.pug

block content

    .container-box
        img(src="img/wa/reg.png", alt="").reg-img

    
        .form-shablon.input-shablon.select-
            h1 პაროლის აღდგენა

            form(action="")
                .input-div
                    span ელ-ფოსტა
                    input(type="email" placeholder="ელ-ფოსტა")

                .input-div
                    span პაროლი
                    input(type="password" placeholder="პაროლი")
                    a(href="").lost-pass დაგავიწყდა პაროლი?

                button(type="submit") ავტორიზაცია

            a(href="").ukve არ ხარ დარეგისტრირებული? 
                span გაიარე რეგისტრაცია
            
