extends layout.pug

block content

    .photo

        h1 ფოტო-გალერეა

        -for(i=0;i<4;i++)
            .photo-block
                img(src="img/wa/1.png", alt="")
                img(src="img/wa/2.png", alt="")
                figure.drop-img.rop-resp
                    img(src="", alt="")
                img(src="img/wa/1.png", alt="")
                img(src="img/wa/2.png", alt="")
                figure.drop-img.rop-des
                    img(src="", alt="")
            .photo-block
                img(src="img/wa/2.png", alt="")
                img(src="img/wa/1.png", alt="")
                figure.drop-img.rop-resp
                    img(src="", alt="")
                img(src="img/wa/2.png", alt="")
                img(src="img/wa/1.png", alt="")
                figure.drop-img.rop-des
                    img(src="", alt="")


block gallery
    script(src="js/gallery.js")


                