extends layout.pug

block content

    .product-box

        .filter-btn
            img(src="img/filter.svg", alt="")
            p ფილტრაცია

        h1 კატეგორიის სათაური

        .product-list-filter
            .product-filter
                ul.filter-ul
                    li.active წერა
                        .drop-filter.active
                            a(href="") საკანცელარიო დაფები
                            a(href="") კალკულატორი
                            a.active(href="") ტუშის პასტა
                            a(href="") დასადგამი მაგიდა
                            a(href="") შავი ფანქრები
                    li  ხატვა
                        .drop-filter
                            -for(i=0;i<2;i++)
                                a(href="") საკანცელარიო დაფები
                                a(href="") კალკულატორი
                                a(href="") ტუშის პასტა
                                a(href="") დასადგამი მაგიდა
                                a(href="") შავი ფანქრები
                    li ქაღალდი
                    li ოფისი
                    li სკოლა

                
                form(action="").price-filter
                    h2 ფასით ფილტრაცია
                    div
                        input(type="number" placeholder="დან")
                        span
                        input(type="number" placeholder="მდე")
                    
                    button(type='submit') ფილტრაცია
            .pgn-list
                .product-list
                    -for(i=0;i<12;i++)
                        .product-item
                                .spiner-img
                                    img(src="https://st3.depositphotos.com/2389541/12679/v/950/depositphotos_126792916-stock-illustration-papper-and-colorful-pencils.jpg", alt="")

                                    .spiner-bck
                                        .spinner
                                            button.minus(type='button')
                                                p.minusP
                                            input(type='text', readonly name='', value='0')
                                            button.plus(type='button')
                                                span
                                                span
                                        
                                        p ხელმისაწვდომია
                                a(href="productin.html") ფანქრები

                                .price-cart
                                    .price 
                                        p 25.50 ₾
                                        span 0.11 ₾
                                    
                                    a(href="#!").product-cart
                                        include img/cart.svg


                ul.pgn
                    li.fr
                        a(href="")
                            include img/arrow.svg
                    li
                        a(href="") 1
                    li
                        a(href="") 2
                    li
                        a(href="") 3
                    li
                        a(href="") 4
                    li
                        span ...
                    li
                        a(href="") 133
                    li.ls
                        a(href="")
                            include img/arrow.svg


 
