extends layout.pug

block content

    .photo

        h1 ფოტო-გალერეა

        -for(i=0;i<2;i++)
            .video-block
                div
                    img(src="http://i3.ytimg.com/vi/RwE0u8587vw/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/RwE0u8587vw?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                div
                    img(src="http://i3.ytimg.com/vi/DPJv5u1EcaM/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/DPJv5u1EcaM?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                figure.drop-video.rop-resp
                    iframe.viframe(src='', frameborder='0', , allow='autoplay; ', allowfullscreen='')

                div
                    img(src="http://i3.ytimg.com/vi/RwE0u8587vw/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/RwE0u8587vw?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                div
                    img(src="http://i3.ytimg.com/vi/DPJv5u1EcaM/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/DPJv5u1EcaM?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება 

                
                
                figure.drop-video.rop-des
                    iframe.viframe(src='', frameborder='0', , allow='autoplay; ', allowfullscreen='')
            .video-block
                div
                    img(src="http://i3.ytimg.com/vi/RwE0u8587vw/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/RwE0u8587vw?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                div
                    img(src="http://i3.ytimg.com/vi/DPJv5u1EcaM/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/DPJv5u1EcaM?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                figure.drop-video.rop-resp
                    iframe.viframe(src='', frameborder='0', , allow='autoplay; ', allowfullscreen='')

                div
                    img(src="http://i3.ytimg.com/vi/RwE0u8587vw/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/RwE0u8587vw?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                div
                    img(src="http://i3.ytimg.com/vi/DPJv5u1EcaM/hqdefault.jpg", alt="" data='https://www.youtube.com/embed/DPJv5u1EcaM?rel=0;&amp;autoplay=1&amp;mute=0" ').no-play
                    img(src="img/play.svg", alt="").play
                    h2 ვიდეოს სათაური იქნება ეს ორ ლაინზე

                
                
                figure.drop-video.rop-des
                    iframe.viframe(src='', frameborder='0', data='https://www.youtube.com/embed/RwE0u8587vw?rel=0;&amp;autoplay=1&amp;mute=0" ', allow='autoplay; ', allowfullscreen='')


block gallery
    script(src="js/gallery.js")