$background-color: #FFFFFF;
$main-color: #FF613B;
$secondary-color: #32125B;
$text-color: #171717;
$border-color: #F2F4F7;

// $font-sizes: (
//     "main" : 12px,
//     "category" : 14px,
//     "title" : 24px,
//     "big" : 32px
// );